.jobContainer{
    border-radius: 25px;
    margin: 30px;
    padding: 1em 2em 1em 2em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(187, 214, 237);
    -webkit-box-shadow: -4px 5px 16px 7px rgba(0,0,0,0.15); 
    box-shadow: -4px 5px 16px 7px rgba(0,0,0,0.15);
}

.jobContainer > p{
    width: 20em;
    padding: 10px;
}